[Unit]
Description=Waydroid Aurora init service
After=network-online.target
ConditionPathExists=/var/lib/waydroid/waydroid_base.prop

[Service]
Type=oneshot
ExecStart=/usr/bin/curl -fsSL https://gitlab.com/AuroraOSS/AuroraStore/uploads/bbc1bd5a77ab2b40bbf288ccbef8d1f0/AuroraStore_4.1.1.apk -o /tmp/AuroraStore.apk
ExecStart=/usr/bin/waydroid app install /tmp/AuroraStore.apk

[Install]
WantedBy=multi-user.target
