[Unit]
Description=Waydroid Init and Aurora store service
ConditionFirstBoot=true
After=network.target

[Service]
Type=oneshot

[Install]
WantedBy=multi-user.target
