[submodule "archiso/airootfs/etc/skel/.local/share/lunarvim/site/pack/packer/start/packer.nvim"]
	path = archiso/airootfs/etc/skel/.local/share/lunarvim/site/pack/packer/start/packer.nvim
	url = https://github.com/wbthomason/packer.nvim
[submodule "archiso/airootfs/etc/skel/.local/share/lunarvim/lvim"]
	path = archiso/airootfs/etc/skel/.local/share/lunarvim/lvim
	url = https://github.com/lunarvim/lunarvim
	branch = release-1.2/neovim-0.8
