[submodule "archiso/airootfs/etc/skel/.local/share/lunarvim/lvim"]
	path = archiso/airootfs/etc/skel/.local/share/lunarvim/lvim
	url = https://github.com/lunarvim/lunarvim
	branch = release-1.3/neovim-0.9
